*.DS_Store
.idea/
/target
/Cargo.lock

proton-pass-mobile/android/lib/**/*.kt
proton-pass-mobile/iOS/headers
proton-pass-mobile/iOS/frameworks
proton-pass-mobile/iOS/PassRustCore/*.xcframework
proton-pass-mobile/src/proton
proton-pass-mobile/src/*.h
proton-pass-mobile/src/*.swift
proton-pass-mobile/src/*.modulemap
proton-pass-mobile/pkg
