*.DS_Store
.idea/
/target
.cargo/
.vscode

# Pass mobile
proton-pass-mobile/android/lib/**/*.kt
proton-pass-mobile/iOS/headers
proton-pass-mobile/iOS/frameworks
proton-pass-mobile/iOS/PassRustCore/*.xcframework
proton-pass-mobile/src/proton
proton-pass-mobile/src/common.udl
proton-pass-mobile/src/*.h
proton-pass-mobile/src/*.swift
proton-pass-mobile/src/*.modulemap
proton-pass-mobile/iOS/**/*.swift
proton-pass-mobile/pkg

proton-pass-web/**/pkg
proton-pass-web/dist

# Authenticator
proton-authenticator-mobile/android/lib/**/*.kt
proton-authenticator-mobile/iOS/headers
proton-authenticator-mobile/iOS/frameworks
proton-authenticator-mobile/iOS/AuthenticatorRustCore/*.xcframework
proton-authenticator-mobile/src/proton
proton-authenticator-mobile/src/common.udl
proton-authenticator-mobile/src/*.h
proton-authenticator-mobile/src/*.swift
proton-authenticator-mobile/src/*.modulemap
proton-authenticator-mobile/iOS/**/*.swift
proton-authenticator-mobile/pkg

proton-authenticator-web/**/pkg
proton-authenticator-web/dist

